@model EmailTemplateViewModel
@using SystemSupport.Web
@using SystemSupport.Web.Controllers

@{ Layout = "~/Views/Shared/_FormLayout.cshtml"; }
    
@section HeaderJavascript{
      extraFormOptions = {editorOptions:{width:"100%", height:"100%"}};
}
@MvcHtmlString.Create(FormFor<EmailTemplateController>(x => x.Save(null)).AddClass("dci_CRUD").ElementId("CRUDForm").ToString())
    <input type="hidden" id="EntityId" name="EntityId" value="@Model.EmailTemplate.EntityId" />
        <div class="col left">
            <div class="row">
                @Html.ViewFor(x=>x.Client.Name).LabelDisplay(WebLocalizationKeys.CLIENT_NAME).Size("5").ToHtmlTag()
            </div>
            <div class="row">
                @Html.SubmissionFor(x=>x.EmailTemplate.Name).Size("5").ToHtmlTag()
            </div>
            <div class="row">
                @Html.SubmissionFor(x => x.EmailTemplate.Description).Size("5").ToHtmlTag()
            </div>
        </div>
        <div class="row">
            <div class="span20">
                <h2>@WebLocalizationKeys.DONT_CHANGE_EMAIL_TOKENS</h2>
            </div>
        </div>
            <div class="row">
            @Html.SubmissionFor(x => x.EmailTemplate.ListOfTokenItems).Size("10").ToHtmlTag()
        
        </div>
       
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmailTemplate.Body).Size("10").AddClassToInput("rte").ToHtmlTag()
        </div>  
    
@EndForm()
