@using SystemSupport.Web
@using SystemSupport.Web.Areas.Permissions.Grids
@using DecisionCritical.Core.Html.FubuUI
@model UserGroupViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section additionalHeaderButtons
{
    <button class="showPermissions" title="@WebLocalizationKeys.SHOW_PERMISSIONS"></button>
}
@MvcHtmlString.Create(FormFor<UserGroupController>(x => x.Save(null)).AddClass("dci_CRUD").ElementId("CRUDForm").ToString())

<input type="hidden" id="EntityId" name="EntityId" value="@Model.Item.EntityId" />
<div class="col left">
    <div class="fieldRow">
        @Html.SubmissionFor(x=>x.Item.Name).ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x=>x.Item.Description).ToHtmlTag()
    </div>
</div>
@EndForm()
