@model UserViewModel
@using SystemSupport.Web
@using SystemSupport.Web.Controllers
@using DecisionCritical.Core.Html.FubuUI
@using HtmlTags

@{ Layout = "~/Views/Shared/_DisplayLayout.cshtml"; }

@section HeaderJavascript{
}
        <div class="col full">
            <div class="fieldRow">
                @Html.ViewFor(x=>x.User.FirstName).AddClassToRoot("first half").ToHtmlTag()
                @Html.ViewFor(x => x.User.LastName).AddClassToRoot("half").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.Address.Address1).ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.Address.Address2).ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.Address.City).AddClassToRoot("first three-five").ToHtmlTag()
                @Html.ViewFor(x => x.Address.State).AddClassToRoot("one-five").ToHtmlTag()
                @Html.ViewFor(x => x.Address.ZipCode).AddClassToRoot("one-five").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.Phone.PhoneNumber).AddClassToRoot("first half").ToHtmlTag()
                @Html.ViewFor(x => x.Email.EmailAddress).AddClassToRoot("half").ToHtmlTag()
            </div>
        </div>
        <div class="footer">
            @StandardButtonFor("Charge", WebLocalizationKeys.CHARGE).AddClass("charge").ToHtmlTag()
            @StandardButtonFor("Void", WebLocalizationKeys.VOID).AddClass("void").ToHtmlTag()
        </div>